
.ebook{
box-shadow: 2px 2px 15px 2px black;
}
.divineDaysSection.gratiToolsSection {
    height: 50%;
}
h5 {
    text-align: center;
margin-top: 4%;
margin-bottom: 4%;
font-weight: bold;
font: x-large;
}
.download  {
    background-color: #662c90;
   margin-bottom: 50px;
   font-size: small;
   padding: 5px;

}
h1.ebookHeader {
    font-size: 800%;
    color:  #662c90;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    text-shadow: 3px 3px rgb(242,209,18);
    margin-bottom: 5%;
}
a {
    text-decoration: none;
    color: white;

}