/*Navigation*/

.navigation {
    border-style: solid;
    border-width: 5px 0px;
    border-image: radial-gradient(#275686,#662c90, #00B183,#23856D,#275686,#662c90) 1;;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 3px;
}

.crownNav {
    height: 85%;
    width: 85%;
    min-width: 60px;
}

@media (max-width: 1200px) {
    img.crownNav {
        height: 85%;
        width: 85%;
    }
}

@media (max-width: 992px) {
    img.crownNav {
        height: 90%;
        width: 90%;
    }
}

@media (max-width: 776px) {
    img.crownNav {
        height: 95%;
        width: 95%;
    }
}

@media (max-width: 500px) {
    img.crownNav {
        height: 100%;
        width: 100%;
    }
}

.navbar-brand {
    width: 5%;
}

/*@media (max-width: 1200px) {
    a.navbar-brand {
        width: 10%;
    }
}

@media (max-width: 992px) {
    a.navbar-brand {
        width: 15%;
    }
}

@media (max-width: 776px) {
    a.navbar-brand {
        width: 20%;
    }
}

@media (max-width: 500px) {
    a.navbar-brand {
        width: 25%;
    }
}*/


.navigationLinks {
    color:#662c90;
    font-weight: bold;
}

.navigationLinks:hover {
    color: goldenrod;
}

.socialIconNav {
    color: white;
    background-color: #662c90;
    border-radius: 50%;
    padding: 10px;
    width: 46px;
    text-decoration: none;
}

.socialIconNav:hover {
    background-color: goldenrod;
    color: white;
}

.dropdown-menu {
    background-color: #662c90;
}

.dropdown-item {
    color: goldenrod;
}

.dropdown-item:hover {
    background-color: white;
    color: goldenrod;
}

.tc {
    color: rgb(5, 170, 5) !important;
}

.tc:hover {
    color: rgb(5, 170, 5);
}

.dropdown-divider {
    color: goldenrod;
}


.navbar-toggler {
    background-color: #662c90;
}

/*Background Header*/

#showcase {
    background-image:url(./Photos/teianna-marie-photos/teianna-marie-treasures_50.jpg);
    background-repeat: no-repeat;
    background-position: 50% 17%;
    background-attachment: fixed;
    background-size: 25%;
}

@media (max-width: 1200px) {
    #showcase {
        background-size: 35%;
    }
}

@media (max-width: 992px) {
    #showcase {
        background-size: 40%;
    }
}

@media (max-width: 776px) {
    #showcase {
        background-size: 50%;
    }
}

@media (max-width: 500px) {
    #showcase {
        background-size: 75%;
    }
}

#bottom-images {
    z-index: -1;
}

@media (max-width: 1200px) {
    img#left {
      display: none;
    }
  }

@media (max-width: 1200px) {
    img#right {
      display: none;
    }
  }

@media (max-width: 1200px) {
    div.mainA {
        width: 100%;
        
    }
}

#left {
    opacity: .5;
}

#right {
    opacity: .5;
}

@media (max-width: 500px) {
    div.image-center {
        text-align: center;
    }
}


/*Main Article*/

body {
    margin: 0;
    font-size: 17px;
    line-height: 1.6;
    font-family: 'Nanum Myeongjo', serif;
}

.mainA {
    border: 5px solid transparent;
border-bottom: 0px;
    border-radius:10px 10px 0px 0px;
    background:linear-gradient(white, white) padding-box,
    conic-gradient(#275686,#00B183,#23856D,#662c90,#275686,#00B183,#23856D,#662c90,#275686) border-box;
     width: 70%;
    margin: auto;
    margin-top: 350px;
}


.treasureClubSub {
    height: 75%;
    width: 75%;
    padding-bottom: 65px;
    padding-top: 65px;
}
.treasureClubPhoto {
    margin-bottom: none;
}
h2 {

    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    color:  #662c90;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    text-shadow: 3px 3px rgb(242,209,18);

}

.btn-treasures {
    color: goldenrod;
    border:#662c90 solid 2px;
}

.btn-treasures:hover {
    background-color: #662c90;
    color: goldenrod;
}

p{
    font-family: 'Nanum Myeongjo', serif;
}

.eventDates {
    color: goldenrod;
    font-weight: bolder;
}

.eventTitle {
    color: goldenrod;
    text-decoration: underline #662c90;
    font-weight: bolder;
    font-style: italic;
}

.eventPictures {
    height: 300px;
    width: 300px;
}

.productsTitle {
    font-size: larger;
    font-weight: bolder;
}

@media (max-width: 500px) {
    h2.theader {
        font-size: 2.5rem;
    }
}

@media (max-width: 500px) {
    h1.theader {
        font-size: 3rem;
    }
}

/*Testimonials*/

.testPic {
    border: #662c90 5px solid;
    border-radius: 50%;
    height: auto;
    width: 100%;
}

.testCity {
    padding-bottom: 0px;
}

.testStar {
    color: goldenrod;
}
/*Footer*/

.footer {
    text-align: center;
    background-image: linear-gradient(-90deg, #275686,#00B183,#23856D,#662C90);
    width: 70%;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 2px;
}

.socialIconFoot {
    padding: 10px;
    font-size: px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    z-index: 1;
  }

.socialIconFoot:hover {
    color: goldenrod;
} 

.tt {
    color: goldenrod;
}

@media (max-width: 1200px) {
    div.footer {
        width: auto;
        
    }
}

@media (max-width: 1200px) {
    footer.mb-2 {
        margin-bottom: 0px;
    }
}
.treasuresButton {
    padding-bottom: 40px;
}
button {
    background-color: #662c90;
    margin-bottom: 50px;
    padding: 5px 10px;
    color: white;
    
}